.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.iz-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 2.5rem;
}
  
.iz-input .input-group-field {
    height: 2.5rem;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
-webkit-appearance: none;
        appearance: none;
}

.iz-input .input-group-field::-webkit-inner-spin-button,
.iz-input .input-group-field ::-webkit-outer-spin-button {
-webkit-appearance: none;
        appearance: none;
}

.plus-minus-input .input-group-button .square {
    width: 2.5rem;
    height: 2.5rem;
}

.input-group-button .square .fa-plus:before {
    margin-left: -0.20rem;
}

.input-group-button .square .fa-minus:before {
    margin-left: -0.20rem;
}

.input-group-button .square .fa-wrench:before {
    margin-left: -0.3rem;
}

.input-group-button .square .fa-times:before {
    margin-left: -0.20rem;
}

.input-group-button .square .fa-key:before {
    margin-left: -0.25rem;
}

.input-group-button .square .fa-lock:before {
    margin-left: -0.20rem;
}

.loginout {
    margin-left: auto;
    margin-right: 0;
}

/*#mod-button {
    margin-left: 0.75rem;
}*/

ul {
    list-style-type: none;
    margin: 0;
}

li {
    display: table;
    margin: 0 auto;
}

ul2 {
    list-style-type: none;
    margin: 0;
}

li2 {
    display: inline-block;
}

.dispBids {
    margin-left: 0.5rem;
    margin-top: 0;
}

#drBid {
    height: 2.5rem;
    font-size: 0.9rem;
}

statement {
    font-size: 22px;
}

.iz-amt {
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    color: rgb(0, 202, 0, 0);
}

#bad-bid {
    position: fixed;  /*Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;/**/
    background-color: rgba(0,0,0,0.15); /* Green background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#i-am-root {
    position: fixed;  /*Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;/**/
    background-color: rgba(22, 185, 0, 0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12rem;
    font-weight: bold;
    color: red;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

input[type="number"] {
    -moz-appearance: textfield;
}

#bid-data {
    width: 25%;/**/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bid-data2 {
    width: 25%;/**/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridit {
    position: relative;
    height: 3rem;
    /*border: 1px solid rgba(10, 10, 10, 0.25);*/
    border-radius: 0;
    /*background-color: white;
    color: #0a0a0a;*/
}

.gridit p {
    margin-top: 0.75rem;
}

.thin {
    margin: 0 0 0rem 0;
}

.go-back {
    color: red;
    cursor: pointer;
}

.go-back:hover {
    color: yellow;
    cursor: pointer;
}